name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Wrangler
        run: npm install

      - name: expand variables
        env:
          KV_ID: ${{ vars.KV_ID }}
          R2_BUCKET_NAME: ${{ vars.R2_BUCKET_NAME }}
          R2_DOMAIN: ${{ secrets.R2_DOMAIN }}
          CORS_ORIGINS: ${{ secrets.CORS_ORIGINS }}
        run: < wrangler.json envsubst > deploy.json

      - name: Publish to Cloudflare Workers
        run: |
          OPTS=""
          if [[ -n "${{ vars.WORKER_NAME }}" ]]; then
            OPTS="$OPTS --name ${{ vars.WORKER_NAME }}"
          fi
          if [[ "${{ github.ref_name }}" -ne main ]]; then
            OPTS="$OPTS --env dev"
          fi
          npx wrangler deploy -c deploy.json $OPTS
        env:
          WORKER_NAME: ${{ env.WORKER_NAME }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
